---
import Base from "~/layouts/Base.astro";
import { Search } from "~/components/Search";
import { Clipboard } from "~/components/Clipboard";
---

<Base
	title="Co-author Generator"
	description="Generate co-author messages to give credit to your contributors!"
	image="/default-og-image.webp"
	imageAlt="A banner image reading 'Hello World'">
	<main class="h-full flex flex-col justify-center items-center">
		
		<h1 class="text-4xl sm:text-6xl w-full text-center font-serif pb-10">Co-author Generator</h1>
		<div class="bg-gray-100 border w-full p-10">
			<Search client:load />
			<Clipboard client:load />
		</div>
	</main>
</Base>
