---
import Base from '~/layouts/Base.astro'
import MultiSelect from '~/components/MultiSelect.astro'

import '@fontsource/montserrat'
---

<Base
	title="Co-author Generator"
	description="Generate co-author messages to give credit to your contributors!"
	image="/default-og-image.webp"
	imageAlt="A banner image reading 'Hello World'"
>
  <main class="bg-gray-100">
    <div class="h-screen flex flex-col justify-center items-center text-center gap-8 p-4">
      <h1 class="text-4xl sm:text-6xl font-[montserrat]">Co-Author Generator</h1>
      <input class="w-[24rem] max-w-full px-8 py-2 rounded-3xl shadow" placeholder="Enter GitHub PR URL...">
      <p>
        Or <a href="#editor" class="underline">manually select</a> authors
      </p>
    </div>
    <div id="editor" class="md:h-screen max-w-[72rem] mx-auto px-8 flex flex-col">
      <h2 class="text-4xl text-center py-16 font-[montserrat]">Co-Author Generator</h2>
      <div class="flex max-sm:flex-col flex-1 gap-4">
        <div class="sm:w-[24rem] h-full flex flex-col gap-4">
          <MultiSelect/>
        </div>
        <div class="flex-1 flex pb-8">
          <textarea class="flex-1 p-4 rounded shadow" placeholder=". . ."></textarea>
        </div>
      </div>
    </div>
  </main>
</Base>
